* {
    box-sizing: border-box;
    /* background-color: cornflowerblue; */
}

li {
background-color: black;
font-size: 20px;
}

li:hover {
    background-color: blue;
}


.section-title{
background-color: navajowhite;
font-size: 30px;
/* text-align: center; */
width: 100%;
height: 200px;
border-bottom: black 5px solid;
/* border-radius: 10px; */
/* margin-left: 10px;
margin-top: 20px; */
/* margin: 20px 0px 10px 10px; */
/* padding: 70px */
}
/*  */
#more-important{
    background-color: rgb(221, 13, 13);
    font-size: 50px;
    /* float: right; */
}

/* #lorem-article {

} */

.horizontal{
    display:inline
}

.header-siblings{
    width: 300px;
/* margin-left: 0; */
    display: inline-block;
}

.nav-bar{
    /* margin-left: calc(100% - 200px) */
    margin-left: 1000px;
}

#header-htag{
    margin-top: 90px;
}